@use "variables" as *;

.hero {
  background: $color-neutral-light;
  display: flex;
  justify-content: left;
  &__slogan {
    color: $color-primary;
  }
  &__cta {
    background: $color-secondary;
    display: inline-block;
    padding: 0.5rem 2rem;
    color: $color-neutral-lightest;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
  }
  &__banner {
  }
}
.destination {
  &__heading {
  }
  &__cards {
    display: flex;
    justify-content: center;
  }
  &__card {
    width: 300px;
    position: relative;
    margin: 25px;
    overflow: hidden; // to display rounded border on child img
    box-shadow: $box-shadow;
    display: grid; // fit the entire image height
  }
  &__img {
    max-width: 100%;
  }
  &__country {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.25rem;
  }
}
