@use "./partials/variables" as *;
@use "./partials/global" as *;

.hero {
  background: $color-neutral-light;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  align-items: center;
  height: 60vh;
  &__slogan {
    color: $color-primary;
    text-align: left; // requirement that text must be left aligned (declaring here in case default value is changing).
    max-width: 40%;

    display: flex; // use flex to padd evenly each row
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
  }
  &__cta-container {
    background: $color-secondary;
    display: inline-block;
    padding: 0.5rem 2rem;
    color: $color-neutral-lightest;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    width: fit-content; // overwrite parent flex so it does not fit entire parent width
  }
  &__banner {
    background: url("../assets/images/hero.png") no-repeat center;
    background-size: contain;
    background-origin: content-box;
    width: 40%;
    height: 100%;
    padding: 4rem 0;
  }
}
.destination {
  &__heading {
    margin: 3rem 0 0 5rem;
  }
  &__cards {
    display: flex;
    justify-content: center;
    padding: 0 12.5rem 3rem;
  }
  &__card {
    position: relative;
    overflow: hidden; // to display rounded border on child img
    border: 1px solid $color-neutral-dark;
    box-shadow: $box-shadow;
    display: grid; // fit the entire image height
    transition: transform 0.3s ease; // not requirement, but simple transition to look better.

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__link {
    margin: 1.563rem; // add margin to link instead of card so it is not part of clickable area.
  }
  &__img {
    max-width: 100%;
  }
  &__country {
    color: $color-neutral-lightest;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.25rem;
    font-size: 1.25rem;
    letter-spacing: 0px;
  }
}
