@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-primary;
  color: $color-primary;
}

a {
  text-decoration: none;
  color: $color-primary;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -2px;
}

h4 {
  color: $color-secondary;
  font-size: 0.625rem;
}
p {
  font-size: 0.9rem;
  letter-spacing: -1px;
}
h3 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.5rem;
}

h1 {
  font-size: 2.3rem;
}

.card {
  border-radius: $border-radius;
}

.header {
  background-color: $color-neutral-lightest;
  //The Navigation Bar must be fixed to the top of the page
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  padding: 1rem 5rem;

  display: flex;
  justify-content: space-between;
  margin: auto;

  &__logo {
    font-weight: 900; // not sure why it is not showing as bold as in mockup.
  }
  &__nav {
    width: 25%;
  }

  &__links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  &__list-item {
    list-style: none;
  }
  &__link {
    color: $color-neutral-darkest;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: -1px;
    &--active {
      padding-bottom: 0.4rem;
      border-bottom: 4px solid $color-secondary;
    }
    &:hover {
      padding-bottom: 0.4rem;
      border-bottom: 4px solid $color-secondary;
    }
    // hide active link underline if hover another link.
    ul:has(&:not(&--active):hover) &--active {
      border-bottom: none;
    }
  }
}

main {
  margin-top: 3rem; //add padding so navigation bar is at top of page and does not overlap main element.
}

.footer {
  padding: 3rem 14rem;
  background-color: $color-neutral-light;
  display: flex;
  justify-content: space-between;

  /* distribute space between each section */

  &__heading {
    padding-bottom: 20px;
  }
  &__sub-heading {
    padding-bottom: 10px;
  }

  &__hours-table {
    display: flex;
    justify-content: space-between;
  }
  &__hours-section {
    width: 45%;
  }
  &__social-section {
    width: 15%;
  }
  &__social-icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 2.5rem;
  }

  &__social-icon {
    height: 1.5rem;
  }
}
